<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Currently</h2>
                <img src="/img/SEEK24Project.jpg">
                <h3 class="section-subheading text-muted" style="margin-bottom: 25px">''Efter stor succes i både 2022 og
                    2023, med over 9.000 besøgende begge år ser vi nu, med
                    teleskop-kikkert på SEEK Festival 2024.'' <br><br> SEEK gør Aarhus til en federe by for lokalt
                    udøvende kunstnere på tværs af kunstformer, ved at være en samskabende,
                    mangfoldig platform, der er tilgængelig for alle interesserede, og styrker og understøtter den kunst
                    og kultur, der er
                    til stede i byen. <br><br><br> SEEK FESTIVAL ØNSKER AT VÆRE:</h3>
                <h5 style="margin-bottom: 25px; color: green; background-color:#fed136;">
                    En kunstnerisk nytænkning af rammerne for en festival</h5>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">En platform for kreativ samskabelse og samarbejder</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">En hyldest til miljøbevidste og klimabevidste løsninger</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Et mangfoldigt og åbent fri-rum for fordybelse og fornyelse</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>